@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


#menu-lateral {
  
    float: left;
    width: 300px;
    max-width: 100%;
    margin-top: 11.2em;
    margin-left: 2em;
    margin-right: 5em;
    background-image: linear-gradient(to top, #F23C13, #F27D16, #F2911B, #F2A71B);
    background-color: #F2A71B;
    padding: 20px;
    border-radius: 1em;
    border: 4px solid #262223;
}


.noticias-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.noticia-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #262223;
    padding-bottom: 10px;
}

.noticia-thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
    border: #262223 4px solid;
}

.noticia-link {
    text-decoration: none;
    color: #262223;
    font-weight: bold;
    font-size: 16px;
}

.noticia-link:hover {
    text-decoration: underline;
}

.noticia-titulo {
    margin-top: 5px;
    font-size: 14px;
}

.noticia-descricao {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}


nav {
    background-image: linear-gradient(to right, #352f31, black);
}

.navbar {
    max-height: 80px;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
    margin-left: 2em;
    object-fit: contain;
}

.navbar-nav .nav-link {
    color: #F23C13;
}

.navbar-nav .nav-link.active {
    color: #F23C13 !important;
}

.navbar-nav .nav-link:hover {
    color: #F23C13;
}


.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F23C13;
    color: #F23C13;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F23C13;
}

.btn-outline-secondary {
    border-color: #F23C13;
    color: #F23C13;
}

.btn-outline-secondary:hover {
    background-color: #F23C13;
    color: #fff;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
      background-image: linear-gradient(to right, #352f31, black);
    }
  }


@media (max-width: 767.98px) {
    .navbar-brand img {
        height: 60px;
    }
}


main {
    position: relative;
    color: #FFF;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    text-align: center;
}

main h1 {
    color: #F23C13;
}


  


.cadastro {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    margin-top: 10em;
    margin-right: 2em;
    margin-bottom: 5em;
    background-color: #262223;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 1em;
    border: 4px solid #F23C13;
}

.cadastro h1, h4, h5 {
    color: #F23C13;
}


#map {
    margin-top: 2em;
    width: 100%;
    height: 350px;
    border-radius: 1em;
    border: 4px solid #262223;
  }


footer {
    background-image: linear-gradient(to left, #262223, black);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer a {
    text-decoration: none;
    
    color: #F23C13;
}


@media (max-width: 1650px) and (max-height: 896px) {
    #menu-lateral {
        display: none;
    }

    main {
        margin-top: 1em;
    }

	

    .cadastro {
        position: relative;
        top: 0;
        margin-left: 1px;
    }

    .butao{
        margin-left:110px;
    }
}



@media (max-width: 767.98px) {
    #menu-lateral {
      padding: 20px;
    }
  
    .navbar-brand img {
      margin-left: 1em;
    }

    footer{
        position: static;
        margin-top: 1em;
        bottom: 0;
       
    }
  
    main {
      margin-top: 2em;
    }
  
    .cadastro {
      margin-top: 2em;
    }
  
    #map {
      height: 250px;
    }
  }
  

  @media (min-width: 768px) and (max-width: 991.98px) {
    #menu-lateral {
      width: 300px;
      margin-left: 2em;
    }
  
    main {
      margin-top: 1em;
      padding: 0 40px;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #menu-lateral {
      margin-left: 2em;
    }
  
    main {
      margin-top: 1em;
      padding: 0 40px;
    }
  }
  

  @media (min-width: 1200px) {
    #menu-lateral {
      width: 300px;
      margin-left: 2em;
    }
  
    main {
      margin-top: 1em;
      padding: 0 40px;
    }
  }
  

  .footer {
    
    bottom: 0;
    width: 100%;
  }
